@font-face {
  font-family: AmaticSC;
  src: local(AmaticSC), url('./assets/fonts/AmaticSC-Regular.ttf');
}

@font-face {
  font-family: Shizuru;
  src: url('./assets/fonts/Shizuru-Regular.ttf');
}

:root {
  --font-primary: AmaticSC;
  --font-secondary: Shizuru;
}